<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workana Work</title>

    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="loadingModal"></div>
        <div class="row">

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Información FTP</h5>
                    </div>
                    <div class="card-body">
                            <!-- Campo FTP_HOST -->
                            <div class="mb-3">
                                <input type="text" class="form-control" id="ftpHost" name="ftpHost" placeholder="FTP Host"required>
                            </div>
            
                            <!-- Campo FTP_USER -->
                            <div class="mb-3">
                                <input type="text" class="form-control" id="ftpUser" name="ftpUser" placeholder="FTP User" required>
                            </div>
            
                            <!-- Campo FTP_PASSWD -->
                            <div class="mb-3">
                                <input type="password" class="form-control" id="ftpPasswd" name="ftpPasswd" placeholder="FTP Password" required>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="text-center">FTP File Listing</h1>
                        </div>
                        <div class="card-body">
                            <table class="table" id="table-folder">
                                <thead>
                                    <tr>
                                        <th scope="col">Folder</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file }}</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-xs">
                                                    <i class="bi bi-eye text-dark"></i> Preview
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs">
                                                    <i class="bi bi-eye text-dark"></i> Update
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Updating the file <span id="text-input"></span>
                <div class="spinner-border text-success text-center my-auto mx-auto" role="status">
                    <span class="visually-hidden">Loading...  </span>
                </div>

                <div>
                    <p>
                        <span class="bg-success my-3 " id="text-result"></span>
                    </p>
                </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Bootstrap JS from CDN (optional, for some features like tooltips and popovers) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
const tableEvents = document.querySelector("#table-folder");
const loadingModal = new bootstrap.Modal(document.getElementById('exampleModal'));


tableEvents.addEventListener("click", function (event) {
    const textInputSpan = document.getElementById('text-input');
    const textResultSpan = document.getElementById('text-result');


    // Check if the clicked element is a button (you can adjust this condition based on your actual structure)
    if (event.target.tagName === "BUTTON") {
        textResultSpan.textContent = '';
        const ftpHost = document.getElementById('ftpHost').value;
        const ftpUser = document.getElementById('ftpUser').value;
        const ftpPasswd = document.getElementById('ftpPasswd').value;
        const clickedRow = event.target.closest("tr");
       
        const folderName = clickedRow.querySelector("td:first-child").textContent; // Assuming the first column contains the folder name
        const actionButton = event.target.textContent.trim(); // Get the text content of the clicked button


        const jsonData = {
            folderName: folderName,
            actionButton: actionButton,
            ftpHost: ftpHost,
            ftpUser: ftpUser,
            ftpPasswd: ftpPasswd

        };

        // Check if the action is 'update'
        if (actionButton.toLowerCase() === 'update') {
            // Construct the URL for the update action
            const updateUrl = `/update/${folderName}`;  // Modify this based on your URL structure
            textInputSpan.textContent = folderName;

            loadingModal.show();

            fetch(updateUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers if needed
                },
                body: JSON.stringify(jsonData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json(); // Assuming the response is in JSON format
                })
                .then(data => {
                    // Handle the response data as needed
                    textResultSpan.textContent = '';
                    textResultSpan.textContent = 'Update request successful ' + JSON.stringify(data);
                    setTimeout(() => {
                        loadingModal.hide();
                    }, 3000);
                })
                .catch(error => {
                    loadingModal.hide();
                    console.error('Update request failed:', error);
                });




        }
    }
});


</script>

</html>
